<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="resources/styles/registerSuccess.css"/>
        <title>Register success</title>
    </head>
    <body>
        <div class="head">
            <img src="resources/images/logo.png" class="logo"/>
            <div class="pageName">
                <p class="pageNameText">JChat</p>
            </div>
        </div>
        <div class="body">
            <div class="bodyContent">
                <div class="loginHead">
                    <p class="loginHeadText">Register success!</p>
                </div>
                <div class="form">
                    <input type="button" onclick="window.location.href = '/login';" value="Ok" class="loginButton"/>
                </div>
            </div>
        </div>
    </body>
</html>